<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>블로그 글</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-5 mb-5 text-center</> bg-light">
        <h1 class="mb-3">My Blog</h1>
        <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <!-- 블로그 글 id 추가 (article.js 후에 작성할 것) -->
                    <input type="hidden" id="article-id" th:value="${article.id}">
                    <!-- 이거 위에거 말이야. 바로 작성하는 거 아님 -->
                    <header class="mb4">
                        <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
                        <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                    </header>
                    <section class="mb-5">
                        <p class="fs-5 mb-4" th:text="${article.content}"></p>
                    </section>
                        <!-- <button type="button" class="btn btn-primary btn-sm">수정</button> 밑에거는 article.js 수정 후
                        실행 테스트 하기
                            01 단계 - 스프링 부트 서버를 재실행한 다음 http://localhost:8080/articles/1에 접속해 [수정] 버튼을 눌러보세요.
                                수정 뷰가 뜨는 것을 확인하고 제목과 내용을 각각 여러분 마음대로 수정해보세요.

                                확인하고 나서

                                6. 생성 기능 마무리 하기
                                    이제 글 생성 기능을 추가하여 블로그의 기초 기능을 마무리하겠습니다.

                                    생성 기능 작성하기
                                        01 단계 - resources/static/js 디렉토리에 있는 article.js 파일을 열어 [등록] 버튼을 누르면
                                            입력 칸에 있는 데이터를 가져와 게시글 생성 API에 있는 글 생성 관련 요청을 보내주늩 코드를 추가

                                            article.js 파일로 이동하세요.
                    -->
                    <button type="button" id="modify-btn"
                            th:onclick="|location.href='@{/new-article?id={articleId}
                            (articleId=${article.id})}'|"
                                class="btn btn-primary btn-sm">수정</button>

                    <!-- <button type="button" class="btn btn-primary btn-sm">수정</button> 이건 수정 버튼 버전업 전-->

                    <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
                    <!-- id="delete-btn"은 article.js에 삭제 추가 한 뒤에 작성할 것 -->
                </article>
            </div>
        </div>
    </div>

    <script src="/js/article.js"></script>  <!-- article.js 파일 추가 후에 할 것
                         실행 테스트 하기
                        01 단계 - 스프링 부트 서버를 다시 실행하고 http://localhost:8080/articles/1에 접속한 다음
                            상세 글에서 [삭제]버튼을 클릭해 삭제가 잘 되는지 확인해봅시다.
                            팝업창이 나타난 다음, [확인]을 누르면 삭제가 완료되고, 글 목록 화면으로 이동했을 때,
                            '제목 1' 글이 사라져 있어야 합니다.

        5. 수정/생성 기능 추가하기
            삭제 기능이 완성됐습니다. 이제는 글 수정/생성 기능을 추가하겠습니다. 수정과 생성을 함께 개발하는 이유가 있습니다.

            수정 / 생성 뷰 컨트롤러 작성하기
                보통 블로그 글 수정과 생성은 같은 화면에서 벌어집니다.

                그림판에 그림 그려둬야 할 것 같은데

                이미 생성한 글을 수정할 때                      123 id를 가진
                        /new-article?id=123               엔티티 조회 후 모델에 추가
                1. 사용자-------------------=> 2. 뷰 컨트롤러 ---------------------=> 3. 뷰

                새 글을 생성할 때
                        /new-article(생성)
                1. 사용자-------------------=> 2. 뷰 컨트롤러 --------------------=> 3. 뷰

                이상의 라인을 보면 글을 생성할 때는 URL에 별도의 쿼리 파라미터가 없습니다. 하지만 수정할 때는 URL에
                ?id=123과 같이 수정할 글의 id를 쿼리 파라미터에 추가해 요청합니다.
                    * 쿼리 파라미터 : HTTP 요청에서 URL의 끝에 ?로 시작하는 키 값으로 이루어진 문자열이며 &로 구분합니다.
                        예를 들어 ?id=123일 때는 키는 id, 값은 123이 되는 것이죠. 즉, 쿼리 파라미터가 있는 경우 컨트롤러 메서드를
                        수정해야 하므로 엔티티를 조회해 기존 글 데이터를 모델에 넣어 화면에 보여줘야 합니다. 쿼리 파라미터가 없는
                        때에는 새 글이므로 화면에 아무 것도 보여줄 필요가 없겠죠. 또한 뷰에서는 쿼리 파라미터의 id 여부에 따라 [수정]과
                        [생성] 중 적절한 버튼을 보여줘야 합니다.

                    01 단계 - 수정 화면을 보여주기 위한 컨트롤러 메서드를 추가합니다. BlogViewController.java 파일에
                        newArticle() 메서드를 추가하세요.

                        BlogViewController.java로 이동하세요.
     -->
</body>
</html>
<!-- 템플릿 함수 중 ${#temporals.format()}은 날짜 형식을 yyyy-MM-DD HH:mm으로 포매팅합니다.
    포매팅한 날짜 형식을 | | 기호와 함께 Posted on이라는 텍스트와 붙인 점을 확인하세요. 그러면 블로그 결과물에
    2099-99-3123:11 Posted on같이 글을 게시한 시간 알림을 표시할 수 있습니다

02 단계 - 글 상세 화면은 글 리스트 화면에서 보러 갈 수 있어야 하겠쬬? 글 리스트 화면에 있는 [보러 가기]버튼을 수정합니다.
다른 코드는 그대로 두고 [보러 가기] 버튼 쪽을 수정해주세요.
-->