<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>

<div class="container">
    <!-- 이거 생성 버튼 나중에 추가하는 겁니다. -->
    <button type="button" id="create-btn"
            th:onClick="|location.href='@{/new-article}'|"
            class="btn btn-secondary btn-sm mb-3">글 등록</button>
    <!-- 위에거 작성하고
        실행 테스트하기
            01 단계 - 스프링부트 서버를 다시 실행한 다음 http://localhost:8080/articles에 접속한 뒤
                [글 등록] 버튼을 눌러 제대로 기능이 동작하는지 확인하세요. -->

    <div class="row-6" th:each="item : ${articles}">        <!-- 1. article 개수만큼 반복 -->
        <div class="card">
            <div class="card-header" th:text="${item.id}">  <!-- 2. item의 id 출력 -->
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${item.title}"></h5>
                <p class="card-text" th:text="${item.content}"></p>
                <!-- 처음 버전 <a href="#" class="btn btn-primary">보러 가기</a> -->
                <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러 가기</a>
                <!-- href 속성을 th:href 속성으로 변경하고 URL 표현식 @{...}을 사용해 [보러 가기]를 눌렀을 때
                    주소창의 값을 /articles/{item.id}로 변경해 글 상세 화면으로 이동할 겁니다

                    실행 테스트 하기
                        01 단계 - 애플리케이션을 실행해준 뒤 http://localhost:8080/articles를 입력하고,
                            [보러 가기] 버튼을 누르면 상세 글이 보입니다. URL은 articles/1로 변경되고,
                            데이터도 잘 나오는지 확인하세요.

                    4. 삭제 기능 추가하기
                        이번에는 글 상세 화면에서 [삭제]버튼을 눌러 글을 삭제해봅시다. 삭제 API로 요청을 보낼 코드를 작성하고
                        테스트 해봅시다.

                        삭제 기능 코드 작성하기
                            삭제 코드를 작성하겠습니다. 삭제 코드는 자바 스크립트로 작성합니다.
                                01 단계 - src/main/resources/static 디렉토리에 js 디렉토리를 만들고
                                    article.js 파일을 만드세요.

                                    🍎만약 디렉토리를 생성하면서 파일을 한 번에 만들고 싶다면 static 디렉토리에서 파일을 생성할 때
                                        파일 이름을 js/article.js라고 해보세요.
                    -->
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>
<!-- 1. th:each로 "articles" 키에 담긴 데이터 개수만큼 반복
     2. th:text는 반복 대상 객체의 id, "text"를 출력. 이때 화면을 쉽고 간편하게 만들 수 있는 부트스트랩을 사용

     부트스트랩 - 웹 애플리케이션 화면을 쉽고 빠르게 만들어주는 라이브러리입니다 😀

     02 단계 - 스프링 부트 서버를 재시작한 다음 http://localhost:8080/articles에 접속하세요

     3. 블로그 글 뷰 구현하기
        이번에는 블로그 화면 상의 [보러 가기] 버튼을 누르면 블로그 글이 보이도록 블로그 글 뷰를 구현합니다. 엔티티에 생성 시간,
        수정 시간을 추가하고, 컨트롤러 메서드를 만든 다음 HTML 뷰를 만들고 화면하는 과정으로 개발해볼 예정입니다.
            01 단계 - domain/Article.java 파일을 열고 다음 필드를 추가합니다.
     -->